/* App.css */

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  /* background-color: #fee440; */
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background: url(./assets/bgimg.jpg);
  /* Take up remaining vertical space */
}

textarea {
  resize: none;
}

p {
  margin: 0;
}

.login-card {
  border: none;
  margin-top: 90px;
}

.sidebar {
  transition: width 0.3s ease;
}

.collapsed {
  width: 60px;
  /* Adjust this width as needed */
}

.toggle-btn {
  color: white !important;
}

header {
  /* background-color: #2F456D; */
  background: url(./assets/header-bg.jpg);
  background-size: cover;
  width: auto;
  height :76px;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  background-color: #2F456D;
}

#username {
  color: white;
}

.admin-login-card {
  margin-top: 65px;
}


.resource-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.zoom {
  padding: 25px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
  border: 4px solid black;
}
