/* App.css */

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  /* Take up remaining vertical space */
}

textarea {
  resize: none;
}

p {
  margin: 0;
}

.login-card {
  border: none;
  margin-top: 90px;
}

.sidebar {
  transition: width 0.3s ease;
}

.collapsed {
  width: 60px;
  /* Adjust this width as needed */
}

.toggle-btn {
  color: white !important;
}

header {
  background-color: #2F456D;
}

footer {
  background-color: #2F456D;
}

#username {
  color: white;
}

.admin-login-card {
  margin-top: 65px;
}